@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    --primary-color: #2f3640;
    --gray: #353b48;
    --light-gray: #747d8c;
    --white: #eee;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;    
}

main{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    color: var(--white);
}

.card h1{
    font-size: 4rem;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 6px;
}
.card span{
    font-size: 2rem;
    font-weight: bold;
}
.card p{
    font-size: 2rem;
    font-weight: bold;
}

.card .date{
    font-size: 1rem;
    font-weight: lighter;
}
